<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<!-- Replace SampleApp with your actual project name !-->

<dict>
        <key>KeepAlive</key>
        <true/>
        <key>Label</key>
        <string>SampleApp</string>
		<key>ProgramArguments</key>
		<array>
			<string>/LocalProjects/Scripts/runAndReportOnCrash.sh</string>
			<string>/LocalProjects/SampleApp/SampleApp.app/Contents/MacOS/SampleApp</string>
		</array>
        <key>ProcessType</key>
        <string>Interactive</string>
        <key>AbandonProcessGroup</key>
        <true/>
</dict>
</plist>